/*-----------------
    8. Breadcrumb
-----------------------*/

.breadcrumb-bar {
    background: #b5b5b5;
    padding: 60px 0 60px;
    position: relative;
    z-index: 1;
    width: 100%;
    @include respond-below(custom991) {
        padding: 50px 0 50px;
     } 
    
        background: url(../../../../public/assets/img/BusinessSetup-Banner.png) no-repeat;
       
        background-size: cover;
        @include respond-below(custom991) {
           display: none;
        } 
	
    .breadcrumb-title {
        font-weight: 700;
        color: $__white;
        font-size: $__font__size__36;
        @include margin-padding(0 0 15px, null);
        @include respond-below(custom991) {
            font-size: $__font__size__32;
        } 
    }
    .breadcrumb {
        justify-content: center;
        margin: 0;
        li {
            a {
                color: #0f8992;
            }
        }
        &.active {
            color: #013b3f;
        }
      }
    .breadcrumb-item+.breadcrumb-item {
        &::before {
            color: #000;
        }
    }
    .breadcrumb-item.active {
        color: $__primarycolor;
    }
      
      
}